<section id="accountRegister">
	<div class="container">
		<h1>Account Registration</h1>
		<div id="accountFormArea">
			<form accept="utf-8" method="POST" id="accountForm" action="/cmbsregistration/register">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="account_number" id="accountNumber" placeholder="Account Number" required/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="mobile_number" id="mobileNumber" placeholder="Mobile Number" required/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="fname" id="fname" placeholder="First Name" required/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" required/>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="email" class="form-control" name="email_address" id="emailAddress" placeholder="Email Address" required/>
						</div>
						<input type="hidden" class="form-control" name="nonce" value="<?php echo $nonce; ?>">
						<input type="submit" id="registerBtn" name="register" class="btn btn-primary form-control" value="Register Account" />
					</div>
				</div>
			</form>
		</div>
	</div>
</section>