	<div>
		<ul>
			<li><a href="main/atm_qr" class="btn btn-primary">Cardless</a></li>
			<li><a href="#" class="btn btn-primary">Other Services</a></li>
			<li><a href="/" class="btn btn-primary">Exit</a></li>
		</ul>
	</div>
<!-- <div class="container-fluid">
  <div class="row">
  	<div class="btn-group-vertical">
	  <button type="button" class="btn btn-primary" id="cardless">Cardless</button>
	  <button type="button" class="btn btn-primary" id="other">Other Services</button>
	  <button type="button" class="btn btn-primary" id="exit">Exit</button>
	</div>
  </div>
</div>
 -->